
<div id="bodygradient">
    <div id="spacer1" class="spacerclass1"></div>
    <div id="spacer2" class="spacerclass2"></div>
    <div id="spacer3" class="spacerclass3"></div>
    <div id="spacer4" class="spacerclass4"></div>
    

    

<div id="content">

        <div id="column1" class="columnclass1"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
        <div id="column2" class="columnclass2"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
        <div id="column3" class="columnclass3"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
        <div id="column4" class="columnclass4"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>

<div id="subcontent">
        
        <div id="welcometitle">
            <h1>Kanby is an open-source Progressive Web Application (PWA) designed around reliability and speed of NoSQL databases.</h1>
        </div>

        <div id="welcome">
            <h2>Inspired by such project management suites as Trello, Notion, and Monday, Kanby takes aim at the exponentially increasing complexity of premium solutions offered today.
                Kanby's mission is to provide a free service that's laser-focused on speed, responsiveness, and scalability of its Kanban board offering.
                Deployed as a containerized serverless microservice on Google Cloud Run, the purpose of this project is to prototype, build, and integrate a highly scalable architecture while leveraging the fastest path to production.
            <br />
            <br />Kanby is built and maintained in TypeScript by <a href="http://yamidduarte.com/" class="link"><strong>Yamid Duarte</strong></a>, a one-person team using Angular, Firebase, Node.js, and Docker. For more information about Kanby, please visit the repository mirrored on GitHub and BitBucket.
            </h2>
        </div>
    
        <div id="imagebox"><img src="/assets/about.svg" alt="kanby" class="aboutimg"/>
        </div>

        <div id="buttons">
                <div id="button1">
                        <button mat-raised-button (click)="goToLink('https://github.com/yamidduarte/kanby')" class="externallink">
                        <h3><img src="/assets/github-logo.svg" />  Github Repository
                        </h3>
                        </button>
                </div>
                <div id="buttonspacer">
                     &nbsp;
                </div>
                <div id="button2">
                        <button mat-raised-button (click)="goToLink('https://bitbucket.org/yamidduarte/kanby')" class="externallink">
                        <h3><img src="/assets/bitbucket-logo.svg" />  Bitbucket Repository
                        </h3>
                        </button>
                </div>
        </div>
        
</div>

<div id="column5" class="columnclass5"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
<div id="column6" class="columnclass6"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
<div id="column7" class="columnclass7"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
<div id="column8" class="columnclass8"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>


</div>

<div id="footer">
<p>Designed with ❤ in California ✔️ 2022</p>
</div>
</div>    