.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.blue { color: #e9cabb;; }
.green { color: #05787d; }
.yellow { color: #bcd8cc; }
.purple { color: #efc809; }
.gray { color: gray; }
.red { color: #ef8e6d; }
