
<div id="bodygradient">

        <!--   Vertical scaling spacers here-->
        <div id="spacer1" class="spacerclass1"></div>
        <div id="spacer2" class="spacerclass2"></div>
        <div id="spacer3" class="spacerclass3"></div>
        <div id="spacer4" class="spacerclass4"></div>
        
    <div id="content">
                <!--   Horizontal scaling spacers here-->
            <div id="column1" class="columnclass1"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
            <div id="column2" class="columnclass2"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
            <div id="column3" class="columnclass3"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
            <div id="column4" class="columnclass4"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    
    <div id="subcontent">
            
            <div id="welcometitle">
                <h1>Kanby helps manage your tasks and notes in one place.</h1>
            </div>
    
            <div id="welcome">
                <h2>Organizing your to-do list has never been this simple.
                <br/>Keep track of your immediate priorities anytime, anywhere.
                <br/>No subscriptions or paywalls. Kanby means productivity.</h2>              
            </div>
        
            <div id="imagebox"><img src="/assets/home.svg" alt="kanby" class="homeimg"/>
            </div>
    
            <div id="buttons">
                    <div id="button1">
                                <button mat-raised-button appGoogleSignin2 class="internallink">
                                <h3><img src="/assets/google-logo.svg" />  Continue with Google
                                </h3>
                                </button>
                                </div>
                    <div id="buttonspacer">
                         &nbsp;
                    </div>
                    <div id="button2">
                                <button mat-raised-button routerLink="/login" class="internallink">
                                <h3><img src="/assets/email-b.svg" />  Continue with Email
                                </h3>
                                </button>
                    </div>
            </div>
            
    </div>
    
    <div id="column5" class="columnclass5"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    <div id="column6" class="columnclass6"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    <div id="column7" class="columnclass7"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    <div id="column8" class="columnclass8"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    
    
    </div>
    
    <div id="footer">
    <p>Designed with ❤ in California ✔️ 2022</p>
    </div>
    </div>    